/**
 * Styles
 */

select:disabled {
	color: grey;
}

textarea {
	resize: none;
}

.form-group {
	margin-bottom: 10px !important;
}

.list-item {
	text-align: left;
	display: block;
	width: 210px;
}

.bold {
	font-weight: bold;
}

#create-link {
	text-decoration: none;
	font-weight: bold;
}

#detail {
	width: 260px;
}

#new-task {
	width: 160px;
}

#description {
	margin-bottom: 5px;
}

#topic {
	text-transform: capitalize;
}