/**
 * View styles
 */

.bold {
	font-weight: bold;
}

.grey {
	color: grey;
}

/**
 * Create View styles
 */

textarea {
	resize: none;
}

.form-group {
	margin-bottom: 10px !important;
}

.modal-dialog {
	width: 300px;
}

#new-task {
	width: 160px;
}

#topic {
	text-transform: capitalize;
}

/**
 * List View styles
 */

.end-space {
	margin-bottom: 10px;
}

.bold {
	font-weight: bold;
}

#create-link {
	text-decoration: none;
	font-weight: bold;
}