<div ng-controller="CreateCtrl">

	<div class="container">
		<form id="new-task">

			<input ng-model="name" type="text" placeholder="Add a task" class="form-control form-group"/>

			<textarea ng-model="description" placeholder="Add a description" class="form-control form-group"></textarea>

			<select ng-model="topic" class="form-control form-group">
				<option value="" disabled selected> Select a topic </option>
				<option value="code"> Code </option> 
				<option value="finance"> Finance </option> 
				<option value="learn"> Learning </option>
				<option value="music"> Music </option>
			</select>

			<button ng-click="addTask()" ng-disabled="!canAdd()" class="btn btn-primary btn-sm">
				<span class="glyphicon glyphicon-plus"></span> Add
			</button>

		</form>
	</div>

</div>