<div ng-controller="ListCtrl">

	<div class="container">

		<p ng-if="!hasTasks()">
			<a href="#!/create" id="create-link">Create</a> a new task.
		</p>

		<p ng-if="hasTasks()">
			<span class="bold">Select</span> a task to view its detail.
		</p>
		
		<div class="row">
			<div class="col-md-2">

				<div ng-if="hasTasks()" id="detail-list">
					<div id="list-group">

						<button ng-repeat="task in tasks" ng-click="selectDetail(task)" class="list-group-item">
							<div class="bold">{{task.name}}</div>
							<div>{{task.created}}</div>
						</button>

					</div>
				</div>

			</div>
			<div class="col-md-4">

				<div ng-if="hasTasks()" id ="detail" class="panel panel-default">
					<div ng-model="taskDetail" class="panel-body">
						<div id="description">{{taskDetail.description}}</div>
						<div id="topic" class="label label-default">{{taskDetail.topic}}</div>
					</div>
				</div>

			</div>

		</div>
	</div>

</div>